.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.ql-size-small {
  font-size: 14px !important;
}

.ql-size {
  font-size: 16px !important;
}

.ql-size-large {
  font-size: 20px !important;
}
.ql-size-huge {
  font-size: 32px !important;
}
