.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.ql-toolbar {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ddd;
  border: 1px solid #555 !important;
  border-bottom: none !important;
}

.ql-container {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #ddd;
  border: 1px solid #555 !important;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.ql-size {
  font-size: 16px !important;
}

.ql-size-small {
  font-size: 14px !important;
}

.ql-size-normal {
  font-size: 18px !important;
}

.ql-size-large {
  font-size: 24px !important;
}
.ql-size-huge {
  font-size: 32px !important;
}

.ql-editor p {
  font-size: 18px !important;
}
